.product_section{
    width: 100vw;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.vermas{
    width: 80vw;
    display: flex;
    justify-content: flex-end;

}

.section_titulo{
    font-family: var(--font-menu);
    font-size: 3rem;
    margin: 2rem 0;
}

.product_container{
    display:flex;
    width: 20;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.product_img{
    width: 20vw;
}

.product_contenido{
text-align: center;

}

.product_title{
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 2rem;
    margin:1rem 0;
}

.product_contenido h3{
    color:var(--terciary-color);
    font-weight: 100;
    margin-bottom: 1rem;
}


@media only screen and (max-width:537px) {

    .product.cuarto{
      display:none;
    }
    .product.quinto{
      display:none;
    }


    .section_titulo{
        font-size: 2rem;
    }

    .vermas{
        justify-content: center;
    }
  

  }

  @media only screen and (min-width:538px) and (max-width:800px) {



    .product.quinto{
      display:none;

    }

    .section_titulo{
        font-size: 2.3rem;
    }

    .vermas{
       justify-content: center;
    }

  }