:root{

    --font-body: "Montserrat Alternates";
    --font-menu: 'Gruppo', cursive;


    --primary-color: white;
    --secondary-color: black;
    --terciary-color: lightcoral;
    --banner-font-color: grey;


    --font-weigth-input: 100;
    --font-weigth-input-placeholder: 500;






}